body {
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}

.container {
    background-color: white;
    width: 1000px;
    height: 650px;
    margin-left: 250px;
    margin-right: 350px;
    margin-top: 60px;
    border-radius: 15px
}

.profile {
    margin-left: 50px;
    flex-direction: row;
    display: flex;
    border-bottom: solid 2px;
    padding-bottom: 50px;
}

.profimg {
    width: 200px;
    height: 150px;
    margin-top: 50px;
    border-radius: 10%;

}

.name {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
    width: 400px;

}

.fname {
    font-weight: 600;
    margin-bottom: 0;
}

.degree {
    margin-top: 2px;
    font-weight: 500;
    font-size: 15px;
    font-style: italic;
}

.about {
    font-size: medium;
    text-align: justify;

}

.contact {
    background-color: #d9dbde;
    margin-left: 30px;
    margin-top: 40px;
    width: 250px;
    height: fit-content;
    border-radius: 10px;
    font-size: medium;
}

.conitems {
    margin-left: 10px;

}

.row2 {
    margin-top: 20px;

}

.profile1 {
    margin-left: 70px;
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-top: 0px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.iname {
    font-weight: 600;
}

.year {
    font-style: italic;
}

.skills {
    margin-left: 60px;
}

.skill {
    background-color: lightseagreen;
    color: white;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}

.perce1 {
    width: 150px;
}

.perce2 {
    width: 200px;
}

.perce3 {
    width: 250px;
}